@using EPiServer.Shell.Navigation
@model Stott.Security.Optimizely.Features.LandingPage.SettingsLandingPageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stott Security | @Model.Version</title>
    <link href="@Model.CssPath" rel="stylesheet" nonce="@Model.CurrentNonce" />
</head>
<body>
    @Html.CreatePlatformNavigationMenu()
    <div @Html.ApplyPlatformNavigation()>
        <div id="security-app"></div>
    </div>

    <script type="text/javascript" src="@Model.JavaScriptPath" nonce="@Model.CurrentNonce"></script>
</body>
</html>