@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, EPiServer.Shell.UI

@using EPiServer.Shell.UI.Helpers.Internal

@model Stott.Security.Optimizely.Features.LandingPage.SettingsLandingPageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stott Security | @Model.Version</title>
    <link href="@Model.CssPath" rel="stylesheet" nonce="@Model.CurrentNonce" />
</head>
<body>
    <platform-navigation />
    @Html.AntiForgeryToken()
    <div id="security-app"></div>

    <script type="text/javascript" src="@Model.JavaScriptPath" nonce="@Model.CurrentNonce"></script>
</body>
</html>