@model Stott.Optimizely.Csp.Features.Permissions.List.CspPermissionsViewModel

@{
    Layout = "_CspLayout";
}

<button class="btn btn-success fw-bold js-create-source my-2">+</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Source</th>
            <th>Allowed Directives</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var permission in Model.Permissions)
        {
            <tr>
                <td>@permission.Source</td>
                <td>@permission.Directives</td>
                <td><button class="btn btn-primary btn-sm js-edit-source-btn" data-id="@permission.Id" data-source="@permission.Source" data-directives="@permission.Directives">Edit</button></td>
            </tr>
        }
    </tbody>
</table>

@section modals
{

    <div class="modal fade" id="cspEditSourceModal" tabindex="-1" aria-labelledby="cspEditSourceLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cspEditSourceLabel">Edit Source Directives</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="formId" class="js-modal-id" />
                    <div class="form-group">
                        <label for="cspEditSource-Source" class="fw-bold">Source</label>
                        <input type="text" class="form-control js-modal-source" id="cspEditSource-Source" placeholder="Enter source" aria-describedby="cspEditSource-help">
                        <div id="cspEditSource-help" class="form-text">Valid examples for the Source can be found on <a href="https://content-security-policy.com/" target="_blank">https://content-security-policy.com/</a>.</div>
                        <div class="invalid-feedback d-block js-edit-source-error"></div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="fw-bold d-block">Directives</label>
                        <div class="invalid-feedback d-block js-edit-directives-error"></div>
                        @foreach (var directive in Model.AllowedDirectives)
                        {
                            <div class="form-check form-check--halfwidth">
                                <input type="checkbox" class="form-check-input js-modal-directive" id="directive-@directive" data-directive="@directive">
                                <label class="form-check-label" for="directive-@directive">@directive</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary js-save-source-btn">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cspSuccessModal" tabindex="-1" aria-labelledby="cspSuccessLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-success">
                    <h5 class="modal-title" id="cspSuccessLabel">Source Updated</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Changes to <span class="fw-bold js-success-source"></span> were saved successfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cspFailureModal" tabindex="-1" aria-labelledby="cspFailureLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-white bg-danger">
                    <h5 class="modal-title" id="cspFailureLabel">Error Encountered</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Failed to apply changes to <span class="fw-bold js-failure-source"></span>.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}
