@using EPiServer.Shell.Navigation
@model Stott.Security.Optimizely.Features.LandingPage.SettingsLandingPageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Content Security Policy Management</title>
    <link href="@Model.CssPath" rel="stylesheet" />
</head>
<body>
    @Html.CreatePlatformNavigationMenu()
    <div @Html.ApplyPlatformNavigation()>
        <div class="container-fluid p-2 bg-dark text-light text-end">
            @Model.Title
        </div>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    @RenderSection("modals", false)

    <script type="text/javascript" src="@Model.JavaScriptPath"></script>
</body>
</html>
